<ion-header class="ion-no-border" [collapse]="'fade'">
  <app-header title="edite"></app-header>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <img
    class="absolute top-0 right-0 w-[400px] -z-30"
    src="/assets/effects/Ellipse-yellow.png"
    alt=""
  />

  <img
    class="absolute top-0 left-0 w-[400px] -z-30"
    src="/assets/effects/Ellipse-green.png"
    alt=""
  />

  <img
    class="absolute top-10 right-0 w-[300px] -z-30"
    src="/assets/effects/Ellipse-violet.png"
    alt=""
  />

  <app-project-form submitLabel="Edit"></app-project-form>
</ion-content>
