<ion-content class="ion-padding">
  <h2 class="text-xl font-bold mb-4">Change Password</h2>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form-group">
    <div>
      <label class="text-sm font-medium">Current Password</label>
      <input
        formControlName="current_password"
        type="password"
        class="w-full bg-gray-100 p-3 rounded-xl"
        placeholder="Old password"
      />
    </div>

    <div>
      <label class="text-sm font-medium">New Password</label>
      <input
        formControlName="new_password"
        type="password"
        class="w-full bg-gray-100 p-3 rounded-xl"
        placeholder="New password"
      />
    </div>

    <div>
      <label class="text-sm font-medium">Confirm Password</label>
      <input
        formControlName="confirm_password"
        type="password"
        class="w-full bg-gray-100 p-3 rounded-xl"
        placeholder="Repeat password"
      />
    </div>

    <div class="flex gap-3 pt-4">
      <button
        type="submit"
        class="!flex-1 !bg-black !text-white !p-3 !rounded-xl !font-semibold"
        [disabled]="form.invalid"
      >
        Save
      </button>

      <button
        type="button"
        class="!flex-1 !bg-gray-200 !text-gray-800 !p-3 !rounded-xl !font-medium"
        (click)="close()"
      >
        Cancel
      </button>
    </div>
  </form>
</ion-content>
