<!-- today-tasks.page.html -->
<ion-header class="ion-no-border">
  <app-header title="today's tasks"></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding h-screen">
  <!-- Background Effects -->
  <img
    class="absolute top-0 right-0 w-[400px] -z-30 opacity-80"
    src="/assets/effects/Ellipse-yellow.png"
    alt="yellow effect"
  />
  <img
    class="absolute top-0 left-0 w-[400px] -z-30 opacity-80"
    src="/assets/effects/Ellipse-green.png"
    alt="green effect"
  />
  <img
    class="absolute top-10 right-0 w-[300px] -z-30 opacity-70"
    src="/assets/effects/Ellipse-violet.png"
    alt="violet effect"
  />

  <!-- calendar -->

  <!-- tasks with status -->
</ion-content>
