.ion-padding-y {
  --padding-top: var(--ion-padding, 16px);
  --padding-bottom: var(--ion-padding, 16px);
}
.ion-padding-t {
  --padding-top: var(--ion-padding, 16px);
}

.ion-padding-b {
  --padding-bottom: var(--ion-padding, 16px);
}
