<swiper-container
  slides-per-view="4.5"
  space-between="0"
  class="days-swiper py-2.5 block"
>
  @for (d of days; track d; let i = $index) {
  <swiper-slide class="py-2.5">
    <div
      class="day-card text-center py-3 rounded-xl shadow-lg"
      [class.active]="selectedIndex === i"
      [class.today]="d.isToday"
      (click)="selectDay(i)"
    >
      <div class="month">{{ d.month }}</div>
      <div class="day-number">{{ d.dayNumber }}</div>
      <div class="day-name">{{ d.dayName }}</div>
    </div>
  </swiper-slide>
  }
</swiper-container>
